body {
    font-family: Roboto;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: white;
    padding: 10px 20px;
    align-items: center;
}

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 50px 0;
}

footer p {
    margin: 100px 0;
}

h2 {
    text-align: center;
}

.logo {
    font-size: 48px;
    font-weight: 900;
}

.menu-links {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    font-size: 18px;
}

.menu-links a {
    text-decoration: none;
    color: white;
}

#first-section {
    background-color: #1f2937;
}

.container {
    display: flex;
    padding: 5em 0;
    margin: 0 auto;
    justify-content: space-around;
    flex-grow: 0;
    width: 82%;
    align-items: center;
}

.container h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.container p {
    font-size: 18px;
    margin-bottom: 40px;
}

.container a {
    background-color: #3882f6;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
}

.container img {
    width: 300px;
}

:where(.container) h2 {    
    text-align: left;
}

.text {
    width: 40%;
    color: white;
}

.random-info {
    display: flex;
    width: 65vw;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
}

#second-section {
    margin: 50px 0;
}

#second-section h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info {
    text-align: center;
    margin: 20px 10px;
}

.info figure {
    padding: 0;
    margin: 0;
}

.info img {
    width: 200px;
    border: 5px solid #3882f6;
    border-radius: 1em;
}

#third-section {
    background-color: #e5e7eb;
    padding: 50px 0;
}

.quote {
    width: 60%;
    margin: 0 auto;
}

#third-section blockquote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

#third-section p {
    text-align: right;
    font-size: 24px;
    font-weight: 900;
}

#section4 {
    padding: 100px 0;
}

.cta {
    max-width: 900px;
    margin: 0 auto;
    background-color: #3882f6;
    color: white;
}